/* Omid: set initializer */
*{
   margin: 0;
   box-sizing: border-box;
}
nav {
   background-color: rgb(255,255,255);
}

a {
   margin-left: 20px;
   padding: 5px;
   text-decoration: none;
   color: rgb(60, 60, 60);
}

a:hover {
   color: rgba(110, 110, 110, 0.7);
}

section {
   width: 100;
   margin: 0%;
}

body {
   font-family: arial, sans-serif;
   margin: 0;
   padding: 0;
   color: #333;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
}

header .logo {
   font-size: 15px;
}

nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
}

nav a {
   text-decoration: none;
}

.hero {
   position: relative;
   text-align: left;
}

.hero img {
   width: 100%;
   height: auto;
}

.hero-text {
   position: absolute;
   top: 40%;
   left: 15%;
   font-size: 70px;
   color: #d86db4;
}

section {
   padding: 20px;
}

h2 {
   margin-bottom: 50px;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}

.gallery img {
   width: 100%;
}

form {
   display: flex;
   flex-direction: column;
   max-width: 100%;
}
form input,
form textarea {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 3px;
   margin: 10px;
}

form button {
   padding: 10px;
   background: black;
   color: white;
   border: none;
   cursor: pointer;
   max-width: 20%;
   margin: 10px;
}
