/* Omid: set initializer */
* {
   margin: 0;
   box-sizing: border-box;
}

nav {

   background-color: rgb(255, 255, 255);

}

nav>section {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

nav a {
   /* Omid: for margin & paddings */
   display: inline-block;
   /* margin-left: 20px; */
   padding: 15px;
   text-decoration: none;
   color: rgb(60, 60, 60);
}

nav a:hover {
   color: rgba(110, 110, 110, 0.7);
}

/* section {
   width: 100;
   margin: 0%;
} */

body {
   font-family: arial, sans-serif;
   margin: 0;
   padding: 0;
   color: #333;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
}

header .logo {
   font-size: 15px;
}

/* Omid: Logo section */
header span,
h2 span {
   background-color: #000;
   color: #fff;
   padding: 5px;

}


nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
}

/* Omid: Reapted a settings */
/* nav a {
   text-decoration: none;
} */
/* Omid: Hero Section with scalability  */
.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(pictures/Photos/5870503597190532011_120.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 80vh;
   /* position: relative;
   text-align: left; */
}

/* .hero img {
   width: 100%;
   height: auto;
} */

.hero-text {
   /* position: absolute;
   top: 40%;
   left: 15%; */
   font-size: xx-large;
   color: #d86db4;
}

section {
   padding: 20px;
}

/* h2 {
   margin-bottom: 50px;
} */

.gallery {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}

.gallery img {
   width: 100%;
}

form {
   display: flex;
   flex-direction: column;
   max-width: 100%;
}

form input,
form textarea {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 3px;
   margin: 10px;
}

form button {
   padding: 10px;
   background: black;
   color: white;
   border: none;
   cursor: pointer;
   max-width: 20%;
   margin: 10px;
}

/* Omid: media query  */
@media(max-width: 800px) {

   /* Omid: Menu Mobility */
   header {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   nav {
      margin-top: 30px;
   }

   nav>section {
      display: flex;
      flex-direction: column;
      justify-content: center;

   }

}